extends layout

block content
    helpbox
        h2 Help
        ol
            li Enter the revised fields of the page, and press ``Submit'' to carry out the changes.
            li The #[code code] field gives the page's unique identifier; #[b you can't change it].
            li You already known what the #[code title] field does!
            li The #[code html] field gives the content of the page; you should write it in HTML.
    h1=title

    p Amend an existing user-generated page?

    form(action="/write/update/UserGeneratedPage", method="post")
        p 
            | #[code code]:
            input(type="text", name="code", value=existingData.code, readonly="readonly")
        p
            | #[code section]:
            select(id="section", name="section")
                each section in sections
                    option(value=section.code) #{section.title}
        p
            | #[code title]:
            input(type="text", name="title", value=existingData.title, required)
        p #[code html]:
        p
            textarea(name="html", required)=existingData.html
            input(type="submit", value="Submit")